name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"   # runs every 12 hours
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: Bismay-exe
          outputs: |
            dist/snake.svg?color_snake=#7c3aed&color_dots=#f6f8fa,#eaeef2,#d0d7de,#afb8c1,#8c959f
            dist/snake-dark.svg?palette=github-dark&color_snake=#7c3aed&color_dots=#0d1117,#161b22,#1f2428,#2d333b,#444c56
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
